pandas
transformers
datasets
tokenizers
redis
tqdm
fire
scikit-learn
scipy
torch
torchaudio
torchvision
pydantic-argparse
pydantic
datasets==2.21.0
docker-pycreds==0.4.0
huggingface-hub==0.24.6
matplotlib==3.9.0
mediapipe==0.10.14
nltk==3.9.1
numpy==1.26.3
opencv-python==4.10.0.84
scikit-learn==1.5.1
scipy==1.13.1
tokenizers==0.19.1
tqdm==4.66.5
transformers==4.44.2
wandb==0.17.7
uvicorn[standard]
fastapi
openai
aioboto3
botocore
uuid
typing
httpx
python-multipart
moviepy
torch_geometric